
@{
    ViewBag.Title = "Buy";
    Layout = "";
}


<header>
    <h1 style="stroke: blue;">Gamer.gg</h1>
    <meta charset="utf-8">
    <title>Purchased successfully !</title>
</header>
<link rel="Stylesheet" href="../../css/Buy.css">
    
<body>
  
<h2>THANK YOU!</h2>
<p>You purchased the game successfully.<br>Please click on the button to return to Home page.</p>
<a href="/Home"><button>Return Home Page</button></a>     
</body>


